// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


body { 
  background-color: rgb(247, 236, 223);
}

.home-title {
  color: rgb(32, 69, 25);
  font-family: "andale-mono-mt-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 80px 0;
}

// welcome div

.welcome-container {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.welcome-item {
  width: 100%;
}

.welcome-title {
  font-family: "formiga", sans-serif;
  font-weight: 900;
  font-style: normal;

  text-align: end;
  font-size: 6vw;
  margin-right: -12vw;
  z-index: 1;
  color: rgb(32, 69, 25);
}

.welcome-photo {
  margin-right: 10%;
}


// Jobs home page

.different-jobs {
  display: flex;
}

.job {
  flex: 1;
  margin: 0 20px;
  text-align: center;
}