---
layout: base
---
<article class="gallery">

  <header class="gallery-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="gallery-content">
    {{ content }}
  </div>

</article>

<h2 class="home-title">Trabajo</h2>

<div class="flex-container">

  {%- for post in site.posts -%}
    {%- if post.categories contains "work" -%}
      <div class="flex-item"> 
        <a href="{{ post.url }}">
          <img src="{{ site.baseurl }}{{ post.thumbnail }}" alt="{{ post.title }}">
          {{ post.title }}
        </a>
      </div>
    {%- endif -%}
  {%- endfor -%}

</div>

<h2 class="home-title">Proyectos Personales</h2>

<div class="flex-container">

  {%- for post in site.posts -%}
    {%- if post.categories contains "projects" -%}
      <div class="flex-item"> 
        <a href="{{ post.url }}">
          <img src="{{ site.baseurl }}{{ post.thumbnail }}" alt="{{ post.title }}">
          {{ post.title }}
        </a>
      </div>
    {%- endif -%}
  {%- endfor -%}

</div>
