---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- <div class="welcome-container">
    <div class="welcome-item welcome-title">
      <p>eventos &<br>                       retratos.</p>
    </div>

    <div class="welcome-item welcome-photo">
      <img src=" {{ site.imagepath }}/home/welcome-photo.jpg " alt="Wedding Photo">
    </div>
  </div> -->

  <div class="flex-container">
    <h1 class="home-title">Fotógrafo de bodas y retratos en Costa Rica</h1>

      <div class="flex-photo">
        <img src="{{ site.baseurl }}/assets/images/home/welcome-photo.jpg" alt="Fotografía de Bodas">
      </div>

    <br><br>

    <p>
      Soy German Ostaszynski, fotógrafo de bodas y retratos en Costa Rica.  
      <br>
      Mi trabajo se centra en capturar emociones reales, momentos honestos y la conexión auténtica entre las personas.
      Trabajo desde una mirada documental y sensible, creando imágenes que no solo se ven, sino que se sienten.
    </p>

  </div>


  <!-- <br><br>
  <div class="flex-container">

    <div class="flex-photo">      
      <img src="{{ site.baseurl }}/assets/images/home/welcome-photo.jpg" alt="wedding">
    </div>

    <div class="flex-description">
      <p>
        Fotografía de bodas, eventos y retrato.
      </p>
    </div> -->

  </div>
  <h2 class="home-title">Trabajos</h2>

  <div class="flex-container">

    <div class="flex-item">
      <a href="{{site.baseurl}}/work">
        <img src=" {{ site.baseurl }}/assets/images/home/wedding-2.jpg " alt="Wedding">
        <div class="logo-overlay">
          <img src="{{ site.baseurl }}/assets/images/logo-no-text.png" alt="Logo">
        </div>
        <p><b>Bodas</b></p>
      </a>
    </div>

    <div class="flex-item">
      <a href="{{site.baseurl}}/work">
        <img src=" {{ site.baseurl }}/assets/images/home/tali.jpg " alt="Portrait Tali">
        <div class="logo-overlay">
          <img src="{{ site.baseurl }}/assets/images/logo-no-text.png" alt="Logo">
        </div>
        <p><b>Retratos</b></p>
      </a>
    </div>

    <div class="flex-item">
      <a href="{{site.baseurl}}/projects">
        <img src=" {{ site.baseurl }}/assets/images/projects/conceptual/ocean/ocean-1.jpg " alt="Ocean">
        <div class="logo-overlay">
          <img src="{{ site.baseurl }}/assets/images/logo-no-text.png" alt="Logo">
        </div>
        <p><b>Proyectos Personales</b></p>
      </a>

    </div>

  </div>

  <h2 class="home-title">Darkroom & Film Lab</h2>

    <div class="flex-container">

      <div class="flex-description">
        <p>
          Servicio de revelado de rollos blanco y negro y capacitaciones en cuarto oscuro.
        </p>
      </div>

      <div class="flex-photo">
        <img src=" {{ site.baseurl }}/assets/images/film-dry.jpg " alt="Film">
      </div>

    </div>


  <h2 class="home-title">Conversemos</h2>
  <h2>Si conectas con esta forma de mirar y sentir la fotografía,
puedes escribirme para hablar sobre tu boda, una sesión de retrato
o un proyecto personal.</h2>

  <div class="contact-container">
    <a href="mailto:{{ site.author.email }}"><i class="fa-regular fa-envelope"></i></a>
    <a href="https://www.instagram.com/germanosta.photo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/german92/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>


</div>






  <!-- {{ content }} -->


  <!-- {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.minima.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page" title="Go to Page {{ paginator.previous_page }}">
              {{ paginator.previous_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | relative_url }}" class="next-page" title="Go to Page {{ paginator.next_page }}">
              {{ paginator.next_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}
</div> -->
